{
    "Note": "You MUST change the secretKey variable and enter correct Discord information. All other stuff is optional.",
    "secretKey": "enter a random secret key here. it can be anything",
    "kartUsersFile": "srb2kartwebsite\\kartusers.json",
    "skinInfoFile": "srb2kartwebsite\\skininfo.json",
    "pointsFile": "srb2kartwebsite\\reservedPoints.json",
    "transactionLog": "srb2kartwebsite\\transactionlog.txt",
    "scoreLocations": {
        "servername": "scorekeeper location"
    },
    "discord": {
        "clientID": 0,
        "clientSecret": "insert the client secret here",
        "redirectURI": "insert redirect URI here (also specify it in discord developer portal!",
        "botToken": "optional bot token. not currently in use"
    }
}