{% extends "base.html" %}

{% block title %}KRAC Results{% endblock %}

{% block content %}

    <h1 class="text-center text-warning mt-3">KRAC Results</h1>
    <p class="text-center text-warning">KRAC stands for Karthouse Record Attack Competition. Don't do drugs, kids.</p>

    <div class="row text-center text-warning">
        <p>
            Welcome to the results page of the Karthouse Record Attack Competition 2023.<br>
            Everything you want to know is right here, in front of your eyes.
        </p>
        <p>
            To recap: KRAC was a record attack competition, lasting a month.<br>
            Every week, two maps would be selected that players would have to record their fastest times for.<br>
            Players joined any of their preferred divisions and competed in those.<br>
            This page displays the results of the competition.<br>
            <br>
            Results from one division should not be compared to another division.<br>
            Each division is subject to different racer statistics. Big Fast is in general faster than Little Guys, for example.<br>
        </p>
    </div>

    <hr style="border-top: 10px solid #F7C12F; opacity: 1;">

    <div class="row">
        <div class="col">
            <div class="container text-center text-warning">
            
                <h2 style="text-decoration: underline">Division winners</h2>
                <p>
                    Here we show the rankings for the competition overall, split per division.<br>
                    Congratulations to all the winners, and a big thank you to everyone else that participated!
                </p>

                <div class="row">
                    <div class="col">
                        <h3>Little Guys</h3>
                        <p>Organizer: <b>JugadorXEI</b>
                        <table class="table table-sm table-dark table-hover text-warning">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th colspan="2">Player</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr>
                                    <td class="krac-table-winner-pos">🥇</td>
                                    <td class="krac-table-winner-name">YairKirby</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-second-pos">🥈</td>
                                    <td class="krac-table-second-name">BigOWO</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-third-pos">🥉</td>
                                    <td class="krac-table-third-name">Mizu</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col pe-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">4</td>
                                            <td>uh</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">5</td>
                                            <td>Dontu</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col ps-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">6</td>
                                            <td>Mustardo</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">7</td>
                                            <td>Liv</td>
                                        </tr>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                    <div class="col">
                        <h3>Medium Rare</h2>
                        <p>Organizer: <b>Burnetto</b>
                        <table class="table table-sm table-dark table-hover text-warning">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th colspan="2">Player</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr>
                                    <td class="krac-table-winner-pos">🥇</td>
                                    <td class="krac-table-winner-name">BigOWO</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-second-pos">🥈</td>
                                    <td class="krac-table-second-name">Udgey</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-third-pos">🥉</td>
                                    <td class="krac-table-third-name">Barki</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col pe-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">4</td>
                                            <td>yyeellooww7</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">5</td>
                                            <td>Mizu</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">6</td>
                                            <td>Axecilies</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">7</td>
                                            <td>Moo</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">8</td>
                                            <td>Cole</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col ps-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">9</td>
                                            <td>Dontu</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">10</td>
                                            <td>Liv</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">11</td>
                                            <td>cotomili</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">12</td>
                                            <td>noah_G</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">13</td>
                                            <td>muddy</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">14</td>
                                            <td>Mustardo</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <div class="col">
                        <h3>Big Fast</h2>
                        <p>Organizer: <b>Diggle</b>
                        <table class="table table-sm table-dark table-hover text-warning">
                            <thead>
                                <tr>
                                    <th>Position</th>
                                    <th colspan="2">Player</th>
                                </tr>
                            </thead>
                            <tbody class="align-middle">
                                <tr>
                                    <td class="krac-table-winner-pos">🥇</td>
                                    <td class="krac-table-winner-name">Sol</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-second-pos">🥈</td>
                                    <td class="krac-table-second-name">Wind</td>
                                </tr>
                                <tr>
                                    <td class="krac-table-third-pos">🥉</td>
                                    <td class="krac-table-third-name">BigOWO</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <div class="col pe-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">4</td>
                                            <td>[VIII] Axel</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">5</td>
                                            <td>Udgey</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">6</td>
                                            <td>Mizu</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">7</td>
                                            <td>Asakku</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">8</td>
                                            <td>Toxicoow</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">9</td>
                                            <td>Cole</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col ps-1">
                                <table class="table table-sm table-dark table-hover text-warning">
                                    <tbody class="align-middle">
                                        <tr>
                                            <td class="krac-table-small-data-pos">10</td>
                                            <td>Dillon</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">11</td>
                                            <td>Dontu</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">12</td>
                                            <td>Mr.Logan</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">13</td>
                                            <td>Liv</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">14</td>
                                            <td>Mayo</td>
                                        </tr>
                                        <tr>
                                            <td class="krac-table-small-data-pos">15</td>
                                            <td>Zane</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center text-warning">
        <h2 style="text-decoration: underline">Division total times</h2>
        <p>
            All total times per player are listed below.<br>
        </p>

        <div class="row">
            <div class="col text-center text-warning">
                <h3 class="text-center text-warning">Little Guys</h2>
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Total time</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="krac-table-small-data">🥇</td>
                            <td>YairKirby</td>
                            <td>14:19.98</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥈</td>
                            <td>BigOWO</td>
                            <td>14:23.10</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥉</td>
                            <td>Mizu</td>
                            <td>14:50.47</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">4</td>
                            <td>uh</td>
                            <td>15:03.45</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">5</td>
                            <td>Dontu</td>
                            <td>15:28.53</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">6</td>
                            <td>Mustardo</td>
                            <td>15:29.90</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">7</td>
                            <td>Liv</td>
                            <td>16:06.82</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col text-center text-warning">
                <h3 class="text-center text-warning">Medium Rare</h2>
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Total time</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="krac-table-small-data">🥇</td>
                            <td>BigOWO</td>
                            <td>13:57.43</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥈</td>
                            <td>Udgey</td>
                            <td>14:06.10</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥉</td>
                            <td>Barki</td>
                            <td>14:15.65</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">4</td>
                            <td>yyeellooww7</td>
                            <td>14:21.33</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">5</td>
                            <td>Mizu</td>
                            <td>14:31.23</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">6</td>
                            <td>Axecilies</td>
                            <td>14:36.80</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">7</td>
                            <td>Moo</td>
                            <td>14:38.81</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">8</td>
                            <td>Cole</td>
                            <td>14:42.56</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">9</td>
                            <td>Dontu</td>
                            <td>15:10.97</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">10</td>
                            <td>Liv</td>
                            <td>15:52.07</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">11</td>
                            <td>cotomili</td>
                            <td>15:56.38</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">12</td>
                            <td>noah_G</td>
                            <td>16:17.18</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">13</td>
                            <td>muddy</td>
                            <td>16:17.18</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">14</td>
                            <td>Mustardo</td>
                            <td>16:17.18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col text-center text-warning">
                <h3 class="text-center text-warning">Big Fast</h2>
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Player</th>
                            <th>Total time</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="krac-table-small-data">🥇</td>
                            <td>Sol</td>
                            <td>13:39.57</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥈</td>
                            <td>Wind</td>
                            <td>13:42.49</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data">🥉</td>
                            <td>BigOWO</td>
                            <td>13:44.90</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">4</td>
                            <td>[VIII] Axel</td>
                            <td>13:49.49</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">5</td>
                            <td>Udgey</td>
                            <td>13:56.65</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">6</td>
                            <td>Mizu</td>
                            <td>14:13.45</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">7</td>
                            <td>Asakku</td>
                            <td>14:19.66</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">8</td>
                            <td>Toxicoow</td>
                            <td>14:24.14</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">9</td>
                            <td>Cole</td>
                            <td>14:25.08</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">10</td>
                            <td>Dillon</td>
                            <td>14:41.33</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">11</td>
                            <td>Dontu</td>
                            <td>14:45.48</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">12</td>
                            <td>Mr.Logan</td>
                            <td>15:15.13</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">13</td>
                            <td>Liv</td>
                            <td>15:17.40</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">14</td>
                            <td>Mayo</td>
                            <td>15:22.60</td>
                        </tr>
                        <tr>
                            <td class="krac-table-small-data-pos">15</td>
                            <td>Zane</td>
                            <td>15:22.88</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container text-center text-warning">
        <h2 style="text-decoration: underline">Times per map</h2>
        <p>
            Below tables contain the top 4 times per division per map.
        </p>
        
        <div class="row">
            <h3>Top 4 Week 1</h3>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPY5P.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Metal Harbor</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/2225/" class="text-warning krac-href-linedeco">Barki</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:44.91</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:41.97</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:39.34</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:45.71</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:42.22</td>
                            <td class="krac-table-small-data">Dillon</td>
                            <td class="krac-table-small-data">01:39.48</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:46.60</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:42.37</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:39.51</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">01:47.08</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">01:43.45</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:39.65</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPENP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Starlight Station</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/2313/" class="text-warning krac-href-linedeco">Mizu</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:40.60</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:37.88</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:34.82</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:40.97</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:38.57</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:35.77</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:40.97</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:39.22</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:35.80</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">01:44.51</td>
                            <td class="krac-table-small-data">Barki</td>
                            <td class="krac-table-small-data">01:40.25</td>
                            <td class="krac-table-small-data">Zane</td>
                            <td class="krac-table-small-data">01:35.80</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Top 4 Week 2</h3>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPRCP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Neo-Arid Sands</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/2310/" class="text-warning krac-href-linedeco">Mustard</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:38.94</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:36.88</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:34.91</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:38.94</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:37.08</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:35.60</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:39.45</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:37.25</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:36.20</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">uh</td>
                            <td class="krac-table-small-data">01:41.74</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">01:38.65</td>
                            <td class="krac-table-small-data">Dillon</td>
                            <td class="krac-table-small-data">01:36.25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPMKP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Botanic Base</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/2308/" class="text-warning krac-href-linedeco">Diggle</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:59.31</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:56.88</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:55.14</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:59.97</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:57.22</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:55.48</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">02:00.82</td>
                            <td class="krac-table-small-data">Dontu</td>
                            <td class="krac-table-small-data">01:58.85</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:55.60</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">02:03.22</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">01:59.60</td>
                            <td class="krac-table-small-data">[VIII] Axel</td>
                            <td class="krac-table-small-data">01:55.74</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Top 4 Week 3</h3>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPRLP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Picture City</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/3199/" class="text-warning krac-href-linedeco">cotomili</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:32.97</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:30.91</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:29.82</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:33.80</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:32.77</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:29.97</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">Mustardo</td>
                            <td class="krac-table-small-data">01:35.08</td>
                            <td class="krac-table-small-data">Barki</td>
                            <td class="krac-table-small-data">01:33.05</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:30.20</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">uh</td>
                            <td class="krac-table-small-data">01:37.88</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">01:34.94</td>
                            <td class="krac-table-small-data">[VIII] Axel</td>
                            <td class="krac-table-small-data">01:31.14</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPG3P.png') }}" style="height: 100px;"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Ice Paradise</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/4250/" class="text-warning krac-href-linedeco">FrostBrush</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">01:31.82</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:28.57</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:26.65</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:31.97</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:29.08</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:26.80</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">uh</td>
                            <td class="krac-table-small-data">01:35.48</td>
                            <td class="krac-table-small-data">Barki</td>
                            <td class="krac-table-small-data">01:29.74</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:26.97</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">01:35.88</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">01:32.51</td>
                            <td class="krac-table-small-data">[VIII] Axel</td>
                            <td class="krac-table-small-data">01:27.51</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <h3>Top 4 Week 4</h3>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPLRP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Funky Fortress</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/3410/" class="text-warning krac-href-linedeco">Udgey</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">Mustardo</td>
                            <td class="krac-table-small-data">02:08.82</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">02:05.94</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">02:03.57</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">02:08.94</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">02:08.31</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">02:03.60</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">02:08.97</td>
                            <td class="krac-table-small-data">Barki</td>
                            <td class="krac-table-small-data">02:08.40</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">02:03.97</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">02:12.45</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">02:09.74</td>
                            <td class="krac-table-small-data">[VIII] Axel</td>
                            <td class="krac-table-small-data">02:04.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="table table-sm table-dark table-hover text-warning">
                    <thead>
                        <tr>
                            <th colspan="3" style="width: 160px;"><img src="{{ url_for('static', filename='images/krac/s1/MAPHZP.png') }}"></th>
                            <th colspan="4">
                                <span class="h2 krac-header-deco align-middle">Reality Collapse</span><br>
                                <span class="align-middle">Author: <a href="https://mb.srb2.org/addons/2276/" class="text-warning krac-href-linedeco">JugadorXEI</a></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <th class="krac-table-header-split krac-table-small-data">#</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Little Guys</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Medium Rare</th>
                            <th colspan="2" class="krac-table-header-split krac-table-small-data">Big Fast</th>
                        </tr>
                        <tr> <!-- P1 per division -->
                            <td class="krac-table-small-data-pos">1</td>
                            <td class="krac-table-small-data">YairKirby</td>
                            <td class="krac-table-small-data">02:00.77</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:58.40</td>
                            <td class="krac-table-small-data">Sol</td>
                            <td class="krac-table-small-data">01:54.74</td>
                        </tr>
                        <tr> <!-- P2 per division -->
                            <td class="krac-table-small-data-pos">2</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">02:02.80</td>
                            <td class="krac-table-small-data">Udgey</td>
                            <td class="krac-table-small-data">01:59.88</td>
                            <td class="krac-table-small-data">Wind</td>
                            <td class="krac-table-small-data">01:55.94</td>
                        </tr>
                        <tr> <!-- P3 per division -->
                            <td class="krac-table-small-data-pos">3</td>
                            <td class="krac-table-small-data">Mustardo</td>
                            <td class="krac-table-small-data">02:03.91</td>
                            <td class="krac-table-small-data">Barki</td>
                            <td class="krac-table-small-data">02:01.17</td>
                            <td class="krac-table-small-data">BigOWO</td>
                            <td class="krac-table-small-data">01:56.91</td>
                        </tr>
                        <tr> <!-- P4 per division -->
                            <td class="krac-table-small-data-pos">4</td>
                            <td class="krac-table-small-data">Mizu</td>
                            <td class="krac-table-small-data">02:06.42</td>
                            <td class="krac-table-small-data">yyeellooww7</td>
                            <td class="krac-table-small-data">02:02.05</td>
                            <td class="krac-table-small-data">[VIII] Axel</td>
                            <td class="krac-table-small-data">01:57.54</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<style>
    .krac-table-winner-pos {
        width: 128px;
        font-size: 56px;
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #F7C12F;
    }
    
    .krac-table-img {
        width: 72px;
    }

    .krac-table-img-small {
        height: 24px;
        width: 24px;
    }

    .krac-table-winner-name {
        font-size: 56px;
    }

    .krac-table-second-pos {
        width: 128px;
        font-size: 32px;
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #F7C12F;
    }

    .krac-table-second-name {
        font-size: 32px;
    }

    .krac-table-third-pos {
        width: 128px;
        font-size: 28px;
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #F7C12F;
    }

    .krac-table-third-name {
        font-size: 28px;
    }
    
    .krac-table-small-data {
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #F7C12F;
    }

    .krac-table-small-data-pos {
        border-right-style: solid;
        border-right-width: 2px;
        border-right-color: #F7C12F;
        font-family: RaceSport;
    }

    .krac-table-header-split {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: #FFC107;
    }

    .krac-table-header-map-preview {
        position: absolute;
        margin-top: -55px;
        margin-left: 100px;
        opacity: 25%
    }

    .krac-href-linedeco {
        text-decoration: none;
        border-bottom: dashed;
        border-bottom-width: thin;
    }

    .krac-header-deco {
        font-family: RaceSport;
    }
</style>

{% endblock %}